/* Add notes here. You specify the tags you want to affect in CSS. */

/* */

h1 {
color:#FCA311;
font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;;
}

p {
color:#14213D;
font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;;
}

h3 {
color:#14213D;
font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;;
}
body {
background-color: #E5E5E5;
font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

#slcimg {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
height: 50%;
}
